*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
}


.wrapper{
    display: flex;
}

.wrapper .txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    padding-top: 10px;
}

.wrapper .run-txt{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}


.run-txt li{
    list-style: none;
    color: #e74c3c;
    font-size: 60px;
    font-weight: 400;
    position:relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}


.run-txt li{
    list-style: none;
    color: #e74c3c;
    font-size: 60px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide{
    100%{
        top: -360px;
    }
}

.run-txt li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.run-txt li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    border-left: 3px solid #e74c3c;
    animation: typing 3s steps(12) infinite;
}

@keyframes typing{
    40%, 60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}
